---
layout: default
title: Food (and money) for thought
---

<div id = menu align="center">
  <h2> <strong> ON THE MENU </strong> </h2>
  <h3> <a href="index.html#entree"> THE "AMUSE BOUCHE" : What is the average diet of a Londoner? </a> </h3>
  <h3> <a href="index.html#plat"> THE "ENTREE" : What constitutes a healthy diet? </a> </h3>
  <h3> <a href="index.html#dessert" > THE "PLAT" : How wealth indicators and food expenditures differ between areas? </a> </h3>
  <h3> <a href="index.html#bonbon"> THE "DESSERT" : How does the food diet relate on the area's wealth? </a> </h3>
</div>


“An apple a day keeps the doctor away”. Keeping a good and balanced diet is fundamental to having a healthy life as it helps avoiding food-related illnesses such as diabetes, obesity and cardiovascular diseases. 
However, the price of the food products influences greatly the decisions of individuals in purchasing them or not. 
There is a strong belief amongst consumers that more expensive products are healthier than cheaper ones. This belief was supported by a 2013 study from Harvard School of Public Health that found that eating a healthy diet costs about $1.5 more per day per person than eating an healthy diet. Sounds like a pocket change, but this represents an “extra” $2,200 per year for a family of four. 
So, do people have an equal chance in maintaining a nutritious diet and thus a healthy life?
We provide here insights on the food consumption discrepancies between different boroughs of Greater London and explore the link between the economic situations of households and their food purchases. 
The datasets we used contain informations about incomes, children poverty and grocery purchases per borough of Greater London. 

<div id="entree">
<h2> What is the average diet of a Londoner? </h2>
</div>
Let's start with a quick look at the Londoners food habits!

To do this, we use food purchases data from the Tesco Grocery 1.0 dataset. It consists in a record of 420 M food items purchased by 1.6 M fidelity card owners who shopped at the 411 Tesco stores within the boundaries of Greater London during the entire year of 2015. These data are aggregated at different spatial granularities (from Lower Super Output Areas (LSOA) to Boroughs) to preserve anonymity. 

But are these data really representative of the londonian food habits? Sounds good…
First, Tesco is the market leader of groceries in the UK. Then, we removed the areas where the Tesco food purchases data is not sufficiently representative of the food purchases of the population. 
Let's select a category!

{% include piecharts.html %}

It seems that Londoners have diet rich in fats (especially saturated fats!) and carbobhydrates (especially sugars!).
If we now look at the most represented food categories, at first sight, one may be satisfied to find fruits and vegetables as the top one food category! But the sweets seem to occupy an important part of the energy income. Grains and dairy comme after, yet quickly regained by ready made food…

<h2 id="plat"> What constitutes a healthy diet? </h2>

Do Londoners eat healthy?

The exact make-up of a diversified, balanced and healthy diet will vary depending on individual characteristics (e.g. age, gender, lifestyle and degree of physical activity), cultural context, locally available foods and dietary customs. However, the basic principles of what constitutes a healthy diet remain the same.
According to the World Health Organization [https://www.who.int/news-room/fact-sheets/detail/healthy-diet], a healthy diet includes the following:

-	fruit, vegetables, legumes, nuts and whole grains
- at least 400 g of fruit and vegetables per day
-	less than 10% of total energy intake from free sugars (ideally less than 5%)
-	less than 30% of total energy intake from fats 
-	less than 10% of total energy intake from saturated fats 
-	less than 10% of total energy intake from trans-fats 
-	less than 5g of salt per day

Let’s see if Londoners follow the WHO recommendations about free sugars, fats and saturated fats…

INSERT FLIPPING CARDS 

The results are clear: Londoners average diet is richer in free sugars and fats than it should be.


{% include correlations.html %}

<div align="center"> {% include barplots_score1.html %} </div>

<div align="center"> {% include barplots_score2.html %} </div>

<div align="center"> {% include scatter2D.html %} </div>

<div align="center">
  <iframe frameborder="1" class="juxtapose" width="500" height="500" marginwidth="500" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=539588b2-3f8c-11eb-83c8-ebb5d6f907df"></iframe>
</div>

<h2 id="dessert"> What is the proportion of food related expenditure in each borough? How does it relate to its economic situation? </h2>

{% include economicindicators_map.html %}

<h2 id ="bonbon"> How does a healthy diet relates to the borough's economic situation? Is this connection area-dependent? </h2>


<div align="center"> {% include scatter3d.html %} </div>


The detailed analysis of the project can be found <a href = "https://nbviewer.jupyter.org/github/SofiaDandjee/food_for_thought/blob/main/project.ipynb"> here </a>.

<h3> <a href = "index.html#menu" > BACK TO THE MENU </a> </h3>
