
<section>
  <div class="row">

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="sugar">
          </div>
          <div class="flip-card-back">
            <div class="rotate">
              <h2>FAILED</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="saturated">
            </div>
            <div class="flip-card-back">
              <div class="rotate">
                <h2>FAILED</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="fat">
            </div>
            <div class="flip-card-back">
              <div class="rotate">
                <h2>FAILED</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
