
<section>
  <div class="row">

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="sugar">
          </div>
          <div class="flip-card-back">
            <div class="rotate">
              <h2> Areas exceed this criteria by <strong> 17.8% </strong> to <strong> 26.2%! </strong> </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="fat">
          </div>
          <div class="flip-card-back">
            <div class="rotate">
              <h2> Areas exceed this criteria by <strong> 12.8% </strong> to <strong> 15.13%! </strong> </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="saturated">
            </div>
            <div class="flip-card-back">
              <div class="rotate">
                <h2> Areas exceed this criteria by <strong> 25.2% </strong> to <strong> 29.4% </strong>! </h2>
              </div>
            </div>
          </div>
        </div>
      </div>



  </div>
</section>
