 <!-- Footer Wrapper -->
      <div id="footer-wrapper">

        <!-- Footer -->
          <div id="footer" class="container">
              <header>
                <h2>AUTHORS</h2>
              </header>

                <section>
                  <div class="row">

                      <div class="column">
                        <div class="icon icon-github">
                          <a href="https://github.com/marieanselmet">Marie Anselmet</a>
                        </div>
                      </div>

                      <div class="column">
                        <div class="icon icon-github">
                          <a href="https://github.com/hmonnet">Heloise Monnet</a>
                        </div>
                      </div>

                      <div class="column">
                        <div class="icon icon-github">
                          <a href="https://github.com/SofiaDandjee">Sofia Dandjee</a>
                        </div>
                      </div>

                  </div>

                </section>


            </div>
          </div>


            <center> Data story produced for the Applied Data Analysis course, EPFL, 2020. </center>

        <!-- Copyright -->
          <div id="copyright" class="container">
            <ul class="links">
              <li>&copy; All rights reserved</li>
              <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
            </ul>
          </div>

      </div>
